<p class="title is-family-secondary">Profile</p>
<div class="columns">
    <div class="column mr-5">
    <form class="form-container" [formGroup]="updateProfileForm" autocomplete="false" novalidate>
        <div class="field is-horizontal">
            <div class="field-body">
            <div class="field">
                <label class="label">First name</label>
                <p class="control">
                    <input class="input {{firstName?.invalid && (firstName?.dirty || firstName?.touched) ? 'is-danger': ''}}" 
                            type="text" formControlName ="firstName" required>
                </p>
            </div>
            <div class="field">
                <label class="label">Last name</label>
                <p class="control">
                    <input class="input {{lastName?.invalid && (lastName?.dirty || lastName?.touched) ? 'is-danger': ''}}"
                            type="text" formControlName ="lastName" required>
                </p>
            </div>
            </div>
        </div>
        <div class="field">
            <label class="label">City</label>
            <p class="control">
                <input class="input {{city?.invalid && (city?.dirty || city?.touched) ? 'is-danger': ''}}"
                 type="text" formControlName ="city" required>
            </p>
        </div>
        <div class="field">
            <label class="label">Phone number</label>
            <p class="control">
                <input class="input {{phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched) ? 'is-danger': ''}}"
                     type="text" formControlName ="phoneNumber" required>
            </p>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <p class="control">
                <input class="input" type="email" formControlName ="email" required readonly >
            </p>
        </div>
        <button class="button mt-4" (click)="submit()" [disabled]="!updateProfileForm.valid">
            <span>Save changes</span>
        </button>
    </form>
    </div>
    <div class="column is-5">
    <label class="label">Profile photo</label>
    <div class="columns is-vcentered">
        <div class="column is-5">
            <figure class="image is-128x128" *ngIf="accountInfo.imageUrl">
                <img class="is-rounded" src="{{URL_BASE}}{{accountInfo.imageUrl}}">
            </figure>
            <figure class="image is-128x128" *ngIf="!accountInfo.imageUrl">
                <img class="is-rounded" src="https://ui-avatars.com/api/?name={{accountInfo.firstName}} {{ accountInfo.lastName }}&format=png&background=random&rounded=true&size=128x128">
            </figure>
        </div>
        <div class="column">
        <button class="button is-success is-fullwidth" >
            <span>Change photo</span>
            <input #imageInput type="file" accept="image/*" (change)="uploadImage(imageInput)">
        </button>
        <button class="button is-outlined is-fullwidth mt-2" (click)="removeImage()">
            <span class="icon mr-1 has-text-danger">
            <span class="iconify is-size-5" data-icon="fluent:delete-12-regular"></span>
            </span>
            <span>Remove</span>
        </button>
        </div>
    </div>
    <p class="has-text-grey mt-3 mb-3">This photo will be displayed to your drivers.</p>
    </div>
</div>