<div class="notification-item">
    <div class="columns">
      <div class="column is-2 has-content-align-center">
        <div class="circle-notification has-background-danger">
          <span class="icon">
            <span class="iconify is-size-1" data-icon="fluent:emoji-sad-16-regular"></span>
          </span>
        </div>
      </div>
      <div class="column">
        <p class="has-text-grey is-size-7">21 minute ago</p>
        <p>Ride rejected! There are no available drivers right now. Try again later, or schedule a ride for later.</p>
      </div>
    </div>
</div>