<div class="notification-item">
    <div class="columns">
      <div class="column is-2 has-content-align-center">
        <figure class="image is-48x48">
          <img class="is-rounded"
            src="https://lh3.googleusercontent.com/a/ALm5wu3tpc3XnB9w8EMqNHAODc0uL23tqydVlUCLYqEF6Q=s96-c">
        </figure>
      </div>
      <div class="column">
        <p class="has-text-grey is-size-7">23 minutes ago</p>
        <p>User <strong>Dušan Lazić</strong> has invited you to a ride to <strong>Menza</strong>.</p>

        <button class="button is-small is-success mt-2"  (click)="sendMessage('heyaaa')">
          Accept
        </button>
        <button class="button is-small is-outlined mt-2 ml-1">
          Decline
        </button>
      </div>
    </div>
</div>