<div *ngIf="router.url === '/home'">
  <h1 class="is-gray is-size-2 mt-3 mb-7">Ride price calculator</h1>
  <app-places></app-places>
  <app-additional></app-additional>

  <div class="is-custom-at-bottom has-text-right mt-6">
    <p class="has-text-grey">
      <span class="iconify-inline" data-icon="ic:baseline-attach-money"></span> Total cost
    </p>
    <p class="is-size-3 is-family-secondary mb-3">
      <b>{{price}}</b> RSD
    </p>
  </div>

  <div *ngIf="isEditing">
    <app-edit-place></app-edit-place>
  </div>
</div>
