<div class="is-chat-header">
  <figure class="image is-48x48">
    <img class="is-rounded"
    src="{{URL_BASE}}{{conversation.userImageUrl}}" (error)="authService.imageUrlResolver($event, conversation.userFullName)">
  </figure>
  <p class="title is-family-secondary is-size-4 ml-2">{{conversation.userFullName}}</p>
</div>
<div class="is-custom-scrollable-container is-chat-container" #autoScroll [scrollTop]="autoScroll.scrollHeight">
  <div  *ngFor="let message of messages" >
    <app-support-message [message]="message.content" [isSent]="message.isFromSupport"></app-support-message>
  </div>
</div>
<div class="is-chat-control">
  <form>
    <input class="input is-rounded" type="text" placeholder="Send a message" [formControl]="newMessage" autofocus >
    <button type="submit" class="custom-search-botton " (click)="sendNewMessage()">
        <span class="iconify is-size-3" data-icon="ic:baseline-chevron-right"></span>
    </button>
  </form>
</div>