<div>
    <p class="title is-family-secondary">Balance</p>
    <div class="notification is-light">
      <p>Available</p>
      <p class="title is-size-1 is-family-secondary"><b>{{balance}}</b> RSD</p>
    </div>
    <div class="columns is-vcentered mt-6">
      <div class="column is-7 p-0 m-0">
        <p class="subtitle is-size-4 mb-1">Top-up your balance</p>
        <p>
          Send ETH <span class="iconify-inline" data-icon="logos:ethereum"></span> to the following address to deposit.
        </p>
        <label class="label mt-5">Wallet address</label>
        <div class="field has-addons">
          <div class="control is-expanded">
            <input class="input is-rounded has-background-light" type="text" value={{ethAddress}} readonly>
          </div>
          <div class="control">
            <a class="button is-rounded" (click)="copyAddress()">
              <span class="iconify is-size-4" data-icon="fluent:copy-16-regular"></span>
            </a>
          </div>
        </div>
        <div class="notification is-warning is-light mt-5 mb-3">
          <p>
            <span class="iconify-inline is-size-5" data-icon="fluent:warning-16-regular"></span>
            Deposited funds are automatically converted to RSD.
          </p>
        </div>
        <div class="notification is-info is-light">
          <p>
            <span class="iconify-inline is-size-5" data-icon="fluent:info-16-regular"></span>
            Funds not showing up? 
            <a (click)="expectBalanceChange()">Click here</a>
          </p>
        </div>
      </div>
      <div class="column p-0 m-0 has-text-centered">
        <figure class="image is-256x256 is-inline-block">
          <img src="http://api.qrserver.com/v1/create-qr-code/?data={{ethAddress}}&size=256x256">
        </figure>
      </div>
    </div>
</div>