<div class="notification-item">
  <div class="columns">
    <div class="column is-2 has-content-align-center">
      <div class="circle-notification has-background-success">
        <span class="icon">
          <span class="iconify is-size-1" data-icon="fluent:checkmark-12-filled"></span>
        </span>
      </div>
    </div>
    <div class="column">
        <p class="has-text-grey is-size-7">21 minute ago</p>
        <p>Ride accepted! Your driver will be there in about <b>20 minutes</b>.</p>
    </div>
  </div>
</div>