<section class="hero is-fullheight has-background-light">
    <div class="container is-widescreen">
      <div class="box is-custom-settings-box">
        <div class="columns">
          <div class="column is-3 is-navigation-sidebar">
            <div class="navigation-item is-first" [routerLink]="['/home']">
              <span class="iconify-inline is-size-5" data-icon="fluent:arrow-left-12-regular"></span>
              Home
            </div>
            <div class="navigation-item {{ selected===SelectionOptions.PROFILE ? 'is-selected' : ''}}" 
                    (click)="navigate(SelectionOptions.PROFILE)">
              <span class="iconify-inline is-size-5" data-icon="fluent:person-24-regular"></span>
              Profile
            </div>
            <div class="navigation-item {{ selected===SelectionOptions.CHANGE_PASSWORD ? 'is-selected' : ''}}" 
                (click)="navigate(SelectionOptions.CHANGE_PASSWORD)">
              <span class="iconify-inline is-size-5" data-icon="fluent:key-24-regular"></span>
              Change password
            </div>
            <div class="navigation-item {{ selected===SelectionOptions.BALANCE ? 'is-selected' : ''}}"
                (click)="navigate(SelectionOptions.BALANCE)">
              <span class="iconify-inline is-size-5" data-icon="fluent:wallet-24-regular"></span>
              Balance
              <!-- <span class="is-size-7 has-text-grey is-pulled-right mr-2">420,00 RSD</span> -->
            </div>
            <div class="navigation-item {{ selected===SelectionOptions.SAVED_ROUTES ? 'is-selected' : ''}}"
            (click)="navigate(SelectionOptions.SAVED_ROUTES)">
              <span class="iconify-inline is-size-5" data-icon="fluent:bookmark-24-regular"></span>
              Saved routes
            </div>
            <div class="navigation-item {{ selected===SelectionOptions.PAST_RIDES ? 'is-selected' : ''}}"
                (click)="navigate(SelectionOptions.PAST_RIDES)">
              <span class="iconify-inline is-size-5" data-icon="fluent:history-24-regular"></span>
              Past rides
            </div>
            <div class="navigation-item {{ selected===SelectionOptions.SUPPORT ? 'is-selected' : ''}}"
                (click)="navigate(SelectionOptions.SUPPORT)">    
              <span class="iconify-inline is-size-5" data-icon="fluent:chat-help-24-regular"></span>
              Support
            </div>
            <div class="navigation-item" (click)="logout()">
              <span class="iconify-inline is-size-5" data-icon="fluent:arrow-exit-20-regular"></span>
              Log out
            </div>
            <div class="is-user-info is-unselectable">
              <div class="ml-2">
                <p class="is-size-7 has-text-grey">{{logged.email}}</p>
                <p class="has-text-weight-bold">{{logged.name}}</p>
              </div>
            </div>
          </div>
          <div class="column is-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
</section>