<div class="section">
    <div class="level">
        <div class="level-item is-fullwidth">
            <button class="button is-fullwidth is-rounded">
                <a href={{GOOGLE_AUTH_URL}}>
                <span class="icon">
                    <img src="assets/images/google-logo.png" alt="Google" />
                </span>
                <span>Login with Google</span>
                </a>
            </button>
        </div>
    </div>
    <div class="level">
        <div class="level-item is-fullwidth">
            <button class="button is-fullwidth is-rounded">
                <a href={{FACEBOOK_AUTH_URL}}>
                <span class="icon">
                    <img src="assets/images/fb-logo.png" alt="Facebook" />
                </span>
                <span>Login with Facebook</span>
                </a>
            </button>
        </div>
    </div>
</div>