<section class="main-box">

    <div class="secundary-box login-box">

      <div class="section">
        <h1 class="has-text-weight-bold is-size-1">Login</h1>
      </div>

      <div class="form-container">
        <input class="input is-rounded" type="text" placeholder="Email">
        <input class="input is-rounded" type="password" placeholder="Password">

        <div class="level">
            <div class="level-left">
                <label class="checkbox has-text-weight-medium">
                <input type="checkbox">
                Remember me
                </label>
            </div>
            <div class="level-right has-text-weight-medium">
                <a href=""> Forgot your password? </a>
            </div>
        </div>

        <div class="level">
            <div class="level-item">
                <button class="button is-fullwidth is-link is-rounded has-text-weight-bold">Login</button>
            </div>
        </div>

        <div class="level">
            <div class="level-item">
                You don't have an account? 
                <a href=""> Register here. </a>
            </div>
         </div>
      </div>

    </div>
  

    <div class="secundary-box info-box">
      <div class="title">
        <h1 class="is-size-1">JUBER</h1>    
        <h2> The best taxi service!</h2>
      </div>
    </div>
  
    <div class="img-container">
        <img src="assets/images/taxi-app.jpg" class="img-avatar is-rounded is-pulled-right" alt="" height="150">
    </div>
   
  
  
  </section>