@charset "utf-8"

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap')

$family-secondary: "Titillium Web", serif
$link: #48c78e

@import "../node_modules/bulma/bulma.sass"
@import "../node_modules/bulma-switch/dist/css/bulma-switch.min.css"
@import "../node_modules/bulma-divider/dist/css/bulma-divider.min.css"
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.min.css"
@import "../node_modules/@creativebulma/bulma-badge/dist/bulma-badge.min.css";


.is-unscrollable
    overflow: hidden

.column.is-map
    height: 100vh !important

.column.has-background-image
    min-height: 100vh !important
    background-size: cover
    background-position-x: center

.column.has-background-image.is-image-1
    background-image: url("../assets/pavel-inozemtsev-FsJMg-2b34Y-unsplash.jpg")

.column.has-background-image.is-image-2
    background-image: url("../assets/nikola-duza-2iYZYuKrSic-unsplash.jpg")

.column.has-background-image.is-image-3
    background-image: url("../assets/jo-2MaFtscmoZc-unsplash.jpg")

.column.has-background-image.is-image-4
    background-image: url("../assets/stefan-kostic-KJAD5ce9Al4-unsplash.jpg")

.column.has-background-image.is-image-5
    background-image: url("../assets/nikola-duza-mZraJpxpmWc-unsplash.jpg")


.column.is-sidebar
    display:flex
    flex-direction:column
    max-width: 480px !important
    max-height: 100vh
    overflow-y: scroll
    justify-content:space-between
    box-shadow: 1px 1px 25px #0000002f
    z-index: 1

.has-custom-border
    border-bottom: 1px $white-ter solid

.circle-initial
    position: relative
    border-radius: 50%
    width: 48px
    height: 48px
    text-align: center
    line-height: 48px
    margin-left: 7px
    .icon
        color: black
        opacity: 0
        position: absolute
        right: 25%;
        top: 25%;
    &:hover
        background-color: $white !important
        border: 1px solid #dbdbdb !important
        color: transparent !important
        cursor: pointer
        .icon
            opacity: 1 !important

.circle-notification
    position: relative
    border-radius: 50%
    width: 48px
    height: 48px
    text-align: center
    line-height: 48px
    .icon
        color: white
        position: absolute
        right: 25%
        top: 25%

.is-custom-at-bottom
    margin-top: auto
    margin-bottom: 10px

.navigation
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    display: flex
    flex-direction: row-reverse
    padding-top: 10px
    padding-right: 22px
    align-items: center

.is-custom-navigation-icon
    margin-right: 22px
    margin-top: 15px
    cursor: pointer
    .badge
        box-shadow: none
        background-color: $danger
        font-size: 14px
        line-height: 14px
        height: 18px
        width: 18px
        padding: 0
        text-align: center
        font-weight: bold

.custom-notifications-box
    .box
        padding: 0px 0px 5px 0px
    * > .columns
        margin-top: 0 !important
        margin-bottom: 0 !important
    position: absolute
    right: 20px
    top: 60px
    width: 400px

.notification-item
    cursor: pointer
    padding-left: 20px
    padding-right: 40px

    &:hover
        background-color: #f5f5f5 !important

.notification-item.is-unread
    background-color: #fffaeb

.custom-add-pals-dialog
    position: absolute;
    left: 480px;
    top: 50vh;

.custom-edit-destination-dialog
    position: absolute;
    left: 480px;
    top: 10vh;
    * > .field
        height: 50px

.is-custom-destination-details
    color: $grey
    margin-left: 33px
    position: absolute
    top: 20px

.is-custom-login-box
    min-width: 350px
    .button
        .iconify
            position: absolute
            left: 0.8em
        padding-left: calc(1em + 1.25em) !important

.custom-social-buttons
    .button
        .iconify
            position: absolute
            left: 0.8em

.is-custom-section
    padding-left: 24%
    padding-right: 24%

.is-custom-register-section
    padding-left: 10%
    padding-right: 10%

.is-custom-large
    font-size: 100px;

.button.is-custom-radio
    input[type="radio"]
        z-index: 100
        opacity: 0
        &:checked + label
            background-color: $success
            border-radius: 4px
    background-color: $white-ter
    &:hover
        background-color: $grey-lighter
    border: none
    white-space: unset
    min-height: 100px
    width: 100px
    flex: 0 0 auto
    margin-right: 5px
    margin-bottom: 13px
    position: relative
    label, input
        padding-top: 15px
        display: block
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        &:hover
            cursor: pointer

.is-custom-car-type-picker
    display: flex
    flex-wrap: nowrap
    overflow-x: auto

input[type="number"]
    -moz-appearance: textfield

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

.is-custom-swap
    position: absolute
    top: 20px
    opacity: 0 !important
    &.is-down
        right: 0px
    &.is-up
        right: 52px

.has-custom-swap-button
    position: relative
    &:hover
        .is-custom-swap
            opacity: 1 !important
            &:disabled
                opacity: 0.4 !important
        
.box.is-custom-settings-box
    height: 600px
    width: 1344px
    margin-top: 100px
    padding-left: 0px
    padding-top: 0px
    .columns
        margin: 0px
        .column.is-navigation-sidebar
            display: flex
            flex-direction: column
            height: 600px
            border-top-left-radius: 6px
            border-bottom-left-radius: 6px
            border-right: 1px solid $grey-lighter
            padding-left: 0px
            padding-top: 0px
            .navigation-item
                margin-left: 0px
                padding-left: 10px
                height: 60px
                line-height: 60px
                font-weight: bold
                border-left: 3px solid transparent
                &:hover
                    border-left: 3px solid $grey-lighter
                    cursor: pointer
                &.is-selected
                    border-left: 3px solid $success
                &.is-first
                    border-top-left-radius: 6px
                .iconify-inline
                    margin-right: 8px
            .is-user-info
                display: flex
                flex-direction: row
                align-items: center
                margin-left: 0px
                padding-left: 10px
                margin-top: auto;
        .column.is-content
            padding-left: 25px
            padding-top: 25px

.is-custom-size-big
    font-size: 50pt

.is-custom-copy-button
    cursor: pointer
    &:hover
        color: $success

.has-custom-scrollable-container
    display: flex
    flex-direction: column

.is-custom-scrollable-container
    background-image: linear-gradient(red, yellow)
    height: 515px
    width: 100%
    position: relative
    overflow-y: scroll

table.is-custom-table
    thead
        position: sticky
        background-color: white
        top: 0px
        box-shadow: 1px 1px 20px #00000011;
        height: 50px
        th
            font-weight: bold !important
            color: hsl(0, 0%, 50%)
            border-width: 0 0 0 !important
    tbody
        tr
            cursor: pointer
            th
                vertical-align: middle !important
                border: none !important
                font-weight: bold
                height: 50px

.circle-initial-person
    position: relative
    border-radius: 50%
    width: 48px
    height: 48px
    text-align: center
    line-height: 48px

.person-item
    padding-right: 40px

.is-custom-people-list
    * > .columns
        margin-top: 0 !important
        margin-bottom: 0 !important