<nav class="level mb-3">
  <div class="level-left">
    <div class="level-item">
      <button class="button is-custom-back-button" [routerLink]="['/admin/drivers']">
        <span class="iconify-inline is-size-2" data-icon="fluent:chevron-left-16-filled"></span>
      </button>
    </div>
    <div class="level-item">
      <figure class="image is-64x64">
        <img class="is-rounded"
          src="{{URL_BASE}}{{driverInfo.profile.imageUrl}}" 
          (error)="this.authService.imageUrlResolver($event, fullName())">
      </figure>
    </div>
    <div class="level-item ml-2">
      <div>
        <p class="title is-family-secondary">{{driverInfo.profile.firstName}} {{driverInfo.profile.lastName}} </p>
        <p class="has-text-gray-light is-size-7">{{driverInfo.profile.email}}</p>
        <p class="has-text-gray-light is-size-7">{{driverInfo.profile.phoneNumber}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered ml-1">
      <div class="is-hidden">
        <p class="is-size-7 is-status active">Active</p>
      </div>
      <div>
        <p class="is-size-7 is-status driving">Driving</p>
      </div>
    </div>
  </div>
  <div class="level-right pr-5">
    <div class="level-item has-text-centered ml-5 is-hoverable">
      <div>
        <p class="heading mb-0">Completed rides</p>
        <p class="is-size-3 is-family-secondary has-text-weight-bold">{{rides.length}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered ml-5 is-hoverable">
      <div>
        <p class="heading mb-0">Driver rating</p>
        <p class="is-size-3 is-family-secondary has-text-weight-bold">
          <span>4,8</span>
          <span class="iconify has-text-success is-size-4" data-icon="fluent:star-12-filled"></span>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered ml-5 is-hoverable">
      <div>
        <p class="heading mb-0">Vehicle rating</p>
        <p class="is-size-3 is-family-secondary has-text-weight-bold">
          <span>5,0</span>
          <span class="iconify has-text-success is-size-4" data-icon="fluent:star-12-filled"></span>
        </p>
      </div>
    </div>
  </div>
</nav>
<div class="is-custom-scrollable-container">
  <app-past-rides-table [rides]="rides" (onRowClicked)="clickedRideRow($event)"></app-past-rides-table>  
</div>