<nav class="level mb-3">
  <div class="level-left">
    <div class="level-item">
      <button class="button is-custom-back-button" [routerLink]="['/admin/drivers']">
        <span class="iconify-inline is-size-2" data-icon="fluent:chevron-left-16-filled"></span>
      </button>
    </div>
    <div class="level-item">
      <figure class="image is-64x64">
        <img class="is-rounded"
          src="{{URL_BASE}}{{driverInfo ? driverInfo.profile.imageUrl : ''}}" 
          (error)="this.authService.imageUrlResolver($event, fullName())">
      </figure>
    </div>
    <div class="level-item ml-2">
      <div>
        <p class="title is-family-secondary">{{driverInfo ? driverInfo.profile.firstName : ''}} {{driverInfo ? driverInfo.profile.lastName: ''}} </p>
        <p class="has-text-gray-light is-size-7">{{ driverInfo ? driverInfo.profile.email : ''}}</p>
        <p class="has-text-gray-light is-size-7">{{driverInfo ? driverInfo.profile.phoneNumber: ''}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered ml-1">
      <div *ngIf="driverInfo?.status === 'ACTIVE'">
        <p class="is-size-7 is-status active">Active</p>
      </div>
      <div *ngIf="driverInfo?.status === 'DRIVING'">
        <p class="is-size-7 is-status driving">Driving</p>
      </div>
      <div *ngIf="driverInfo?.status === 'INACTIVE'">
        <p class="is-size-7 is-status inactive">Inactive</p>
      </div>
      <div *ngIf="driverInfo?.status === 'OVERTIME'">
        <p class="is-size-7 is-status overtime">Overtime</p>
      </div>
    </div>
  </div>
  <div class="level-right pr-5">
    <div class="level-item has-text-centered ml-5 is-hoverable" (click)="setActiveTable('PAST_RIDES')">
      <div>
        <p class="heading mb-0">Completed rides</p>
        <p class="is-size-3 is-family-secondary has-text-weight-bold">{{rides.length}}</p>
      </div>
    </div>
    <div class="level-item has-text-centered ml-5 is-hoverable" (click)="setActiveTable('REVIEWS')">
      <div>
        <p class="heading mb-0">Driver rating</p>
        <p class="is-size-3 is-family-secondary has-text-weight-bold">
          <span>{{driverAvgRating}}</span>
          <span class="iconify has-text-success is-size-4" data-icon="fluent:star-12-filled"></span>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered ml-5 is-hoverable" (click)="setActiveTable('REVIEWS')">
      <div>
        <p class="heading mb-0">Vehicle rating</p>
        <p class="is-size-3 is-family-secondary has-text-weight-bold">
          <span>{{vehicleAvgRating}}</span>
          <span class="iconify has-text-success is-size-4" data-icon="fluent:star-12-filled"></span>
        </p>
      </div>
    </div>
  </div>
</nav>
<div class="is-custom-scrollable-container">
  <app-past-rides-table [rides]="rides" (onRowClicked)="clickedRideRow($event)" *ngIf="activeTable === 'PAST_RIDES'"></app-past-rides-table>
  <app-reviews-table [reviews]="reviews" (onRowClicked)="clickedReviewRow($event)" *ngIf="activeTable === 'REVIEWS'"></app-reviews-table>  
</div>