<div class="notification-item is-unread">
    <div class="columns">
        <div class="column is-2 has-content-align-center">
            <div class="circle-notification has-background-info">
                <span class="icon">
                <span class="iconify is-size-1" data-icon="mdi:car-side"></span>
                </span>
            </div>
        </div>
        <div class="column">
            <p class="has-text-grey is-size-7">Just now</p>
            <p>Your driver has arrived!</p>
        </div>
    </div>
</div>