
<div>
    <section class="hero is-fullheight is-unscrollable">
    <div class="columns mt-0">
        <div class="column is-3 is-sidebar pl-6 pr-5" style="z-index: 100000000;">
            <passenger-sidebar *ngIf="loggedUser && loggedUser?.role == 'ROLE_PASSENGER'"></passenger-sidebar>
            <unauthorized-sidebar *ngIf="!loggedUser"></unauthorized-sidebar>
        </div>
        
        <div class="column m-0 p-0 is-map">
            <passenger-map *ngIf="loggedUser && loggedUser?.role == 'ROLE_PASSENGER'" width="100%" height="100%"></passenger-map>
            <unauthorized-map *ngIf="!loggedUser"></unauthorized-map>
        </div>
        
    </div>
    </section>
    <div>
        <div class="navigation" >
            <a href="/profile" *ngIf="loggedUser">
                <figure class="image is-32x32 is-clickable ml-2" *ngIf="loggedUser?.imageUrl">
                    <img class="is-rounded" src="{{URL_BASE}}{{loggedUser.imageUrl}}" (error)="this.authService.imageUrlResolver($event, loggedUser.name)">
                </figure>
                <figure class="image is-32x32 is-clickable ml-2" *ngIf="!loggedUser?.imageUrl">
                    <img class="is-rounded" src="" (error)="this.authService.imageUrlResolver($event, loggedUser.name)">
                </figure>
            </a>
            <app-notification *ngIf="loggedUser"></app-notification>
            <div class="is-relative is-custom-navigation-icon" *ngIf="loggedUser && loggedUser.role === 'ROLE_PASSENGER'" [routerLink]="['profile/saved-routes']">
                <span class="iconify is-size-4" data-icon="material-symbols:bookmark"></span>
            </div>

            <div *ngIf="loggedUser" class="is-relative is-custom-navigation-icon" (click)="logout()">
                <span class="iconify is-size-4" data-icon="material-symbols:logout"></span>
            </div>

            <div *ngIf="!loggedUser" class="is-relative is-custom-navigation-icon" [routerLink]="['/login']">
                <span class="iconify is-size-4" data-icon="material-symbols:login"></span>
            </div>

            <active-status *ngIf="loggedUser && loggedUser.role == 'ROLE_DRIVER'" ></active-status>
        </div>
    </div>
</div>