
<div>

    <section class="hero is-fullheight">
    <div class="columns mt-0">
        <div class="column is-3 is-sidebar pl-6 pr-5">
            <passenger-sidebar [ride]="ride" *ngIf="loggedUser && loggedUser.role == 'ROLE_PASSENGER'"></passenger-sidebar>
        </div>
        <div class="column m-0 p-0 is-map">
            <passenger-map [ride]="ride" *ngIf="loggedUser && loggedUser.role == 'ROLE_PASSENGER'" width="100%" height="100%"></passenger-map>
        </div>

    </div>
    </section>
    <div>
        <div class="navigation">
            <figure class="image is-48x48">
                <img class="is-rounded" src="https://lh3.googleusercontent.com/a/ALm5wu3tpc3XnB9w8EMqNHAODc0uL23tqydVlUCLYqEF6Q=s96-c">
            </figure>
            <button class="button is-rounded mr-2">Profile<span class="iconify ml-2" data-icon="ic:baseline-person"></span></button>
            <button class="button is-rounded mr-1">Support<span class="iconify ml-2" data-icon="ic:baseline-contact-support"></span></button>
            <button class="button is-rounded mr-1">Logout<span class="iconify ml-2" data-icon="material-symbols:logout"></span></button>
        </div>
    </div>
</div>