
<div 
  class="navigation-item {{ selected===SelectionOptions.ADMIN_SUPPORT ? 'is-selected' : ''}}"
  (click)="navigate(SelectionOptions.ADMIN_SUPPORT)">    
    <span class="iconify-inline is-size-5" data-icon="fluent:chat-help-24-regular"></span>
    Support
</div>
<div
  class="navigation-item {{ 
        (selected===SelectionOptions.ADMIN_DRIVERS_LIST || selected===SelectionOptions.ADMIN_NEW_DRIVER)  ? 
        'is-selected' : ''}}"
  (click)="navigate(SelectionOptions.ADMIN_DRIVERS_LIST)">
  <span class="iconify-inline is-size-5" data-icon="fluent:people-list-24-regular"></span>
  Drivers
</div>
<div 
  class="navigation-item {{ selected===SelectionOptions.ADMIN_BLOCKED_USERS ? 'is-selected' : ''}}"
  (click)="navigate(SelectionOptions.ADMIN_BLOCKED_USERS)">
  <span class="iconify-inline is-size-5" data-icon="fluent:person-prohibited-24-regular"></span>
  Blocked users
</div>
<div
  class="navigation-item {{ selected===SelectionOptions.ADMIN_CHANGE_REQUESTS ? 'is-selected' : ''}}"
  (click)="navigate(SelectionOptions.ADMIN_CHANGE_REQUESTS)">
  <span class="iconify-inline is-size-5" data-icon="fluent:person-edit-24-regular"></span>
  Change requests
</div>
<div 
  class="navigation-item {{ selected===SelectionOptions.REPORTS ? 'is-selected' : ''}}"
  (click)="navigate(SelectionOptions.REPORTS)"> 
  <span class="iconify-inline is-size-5" data-icon="fluent:chart-multiple-20-regular"></span>
  Reports
</div>