<p class="title is-family-secondary">Password</p>
<div class="columns">
  <div class="column mr-5">
    <div class="field">
      <label class="label">Current password</label>
      <p class="control">
        <input class="input" type="password">
      </p>
    </div>
    <div class="field">
      <label class="label">New password</label>
      <p class="control">
        <input class="input" type="password">
      </p>
    </div>
    <div class="field">
      <label class="label">Confirm password</label>
      <p class="control">
        <input class="input" type="password">
      </p>
    </div>
    <button class="button mt-4">
      <span>Change password</span>
    </button>
  </div>
  <div class="column is-5">

  </div>
</div>