<!-- <div class="column is-content has-custom-scrollable-container"> -->
    <p class="title is-family-secondary">Past rides</p>
    <div class="is-custom-scrollable-container">
      <table class="table is-fullwidth is-hoverable is-custom-table">
        <thead>
          <tr>
            <th>Route</th>
            <th>
              Date
              <span class="iconify-inline is-size-6" data-icon="fluent:arrow-down-12-regular"></span>
            </th>
            <th>Start</th>
            <th>End</th>
            <th>Cost</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Menza → Železnička stanica</th>
            <th>Dec 5 2022</th>
            <th>17:01</th>
            <th>17:15</th>
            <th>205 RSD</th>
          </tr>
          <tr>
            <th>Centar → Železnička stanica</th>
            <th>Dec 4 2022</th>
            <th>16:59</th>
            <th>17:12</th>
            <th>200 RSD</th>
          </tr>
          <tr>
            <th>Železnička stanica → Promenada</th>
            <th>Dec 3 2022</th>
            <th>17:05</th>
            <th>17:21</th>
            <th>205 RSD</th>
          </tr>
          <tr>
            <th>Železnička stanica → Promenada</th>
            <th>Dec 3 2022</th>
            <th>17:05</th>
            <th>17:21</th>
            <th>205 RSD</th>
          </tr>
          <tr>
            <th>Železnička stanica → Promenada</th>
            <th>Dec 3 2022</th>
            <th>17:05</th>
            <th>17:21</th>
            <th>205 RSD</th>
          </tr>
          <tr>
            <th>Železnička stanica → Promenada</th>
            <th>Dec 3 2022</th>
            <th>17:05</th>
            <th>17:21</th>
            <th>205 RSD</th>
          </tr>
          <tr>
            <th>Železnička stanica → Promenada</th>
            <th>Dec 3 2022</th>
            <th>17:05</th>
            <th>17:21</th>
            <th>205 RSD</th>
          </tr>
          <tr>
            <th>Železnička stanica → Promenada</th>
            <th>Dec 3 2022</th>
            <th>17:05</th>
            <th>17:21</th>
            <th>205 RSD</th>
          </tr>
          <tr>
            <th>Železnička stanica → Promenada</th>
            <th>Dec 3 2022</th>
            <th>17:05</th>
            <th>17:21</th>
            <th>205 RSD</th>
          </tr>
          <tr>
            <th>Probaj da skroluješ tabelu</th>
            <th>Dec 3 2022</th>
            <th>17:05</th>
            <th>17:21</th>
            <th>205 RSD</th>
          </tr>
          <tr>
            <th>Opaaa</th>
            <th>Dec 3 2022</th>
            <th>17:05</th>
            <th>17:21</th>
            <th>205 RSD</th>
          </tr>
          <tr>
            <th>Radi</th>
            <th>Dec 3 2022</th>
            <th>17:05</th>
            <th>17:21</th>
            <th>205 RSD</th>
          </tr>
        </tbody>
      </table>
    </div>
<!-- </div> -->