<!-- <div class="column is-content has-custom-scrollable-container"> -->
<p class="title is-family-secondary">Past rides</p>
<div class="is-custom-scrollable-container">
  <!--(matSortChange)="announceSortChange($event)" -->
  <table mat-table [dataSource]="dataSource" matSort  (matSortChange)="announceSortChange($event)"
        class="table is-fullwidth is-hoverable is-custom-table mat-elevation-z8">
    <ng-container matColumnDef="startPlaceName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by route">
        Route
      </th>
      <td mat-cell *matCellDef="let element"> {{element.startPlaceName}} → {{element.endPlaceName}}</td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">
        Date
      </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by start time">
        Start time
      </th>
      <td mat-cell *matCellDef="let element"> {{element.startTime}} </td>
    </ng-container>

    <ng-container matColumnDef="endTime" class="custom-container">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by end time">
        End time
      </th>
      <td mat-cell *matCellDef="let element"> {{element.endTime}} </td>
    </ng-container>

    <ng-container matColumnDef="fare">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fare">
        Cost
      </th>
      <td mat-cell *matCellDef="let element"> {{element.fare}} RSD</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRow(row)"></tr>
  </table>

</div>