<div class="columns is-vcentered">
    <div class="column is-1 mr-3">
      <span class="iconify is-size-3" data-icon="ic:round-location-on" [style.color]="color"></span>
    </div>
    <div class="column is-6">
      <p *ngIf="index===0" class="has-text-grey">
        Starting point <span class="iconify-inline" data-icon="ic:baseline-rocket-launch"></span>
      </p>
      <p *ngIf="index!==0 && place" class="has-text-grey">
        via {{place.option}}
      </p>
      <p class="is-size-5 has-text-weight-bold has-text-black">{{place?.name}}</p>
    </div>
</div>
