<div class="mt-5 pt-2">
    <p class="title is-size-3 has-text-grey is-family-secondary">Add your pals</p>
    <div class="columns is-vcentered">
      <div class="column">
        <div class="is-flex">
          <figure class="image is-48x48">
            <img class="is-rounded" src="https://lh3.googleusercontent.com/a/ALm5wu3tpc3XnB9w8EMqNHAODc0uL23tqydVlUCLYqEF6Q=s96-c">
          </figure>
          <div class="circle-initial" style="background-color: #791eae; color: white">
            AC
          </div>
          <div class="circle-initial" style="background-color: #c33232; color: white">
            AB
          </div>
          <div class="circle-initial" style="background-color: #1298db; color: white">
            ZR
          </div>
        </div>
      </div>
      <div class="column is-2">
        <button class="button">
          <span class="icon">
            <span class="iconify is-size-3" data-icon="ic:baseline-edit"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
  <div class="mt-6">
    <p class="title is-size-3 has-text-grey is-family-secondary">Additional</p>
    <div class="field">
      <input id="babyFriendly" type="checkbox" name="babyFriendly" class="switch is-success is-rounded">
      <label for="babyFriendly">Baby friendly</label>
    </div>
    <div class="field">
      <input id="petFriendly" type="checkbox" name="petFriendly" class="switch is-success is-rounded">
      <label for="petFriendly">Pet friendly</label>
    </div>
  </div>