<p class="title is-family-secondary">Password</p>
<div class="columns">
  <div class="column is-half">
    <form class="form-container" [formGroup]="changePasswordForm">
      <div class="field">
        <label class="label">Current password</label>
        <p class="control">
          <input class="input" type="password" formControlName="currentPassword" autocomplete="off">
        </p>
      </div>
      <div class="field">
        <label class="label">New password</label>
        <p class="control">
          <input class="input" type="password" formControlName="newPassword" autocomplete="off">
        </p>
        <div *ngIf="newPassword?.dirty || newPassword?.touched" class="help is-danger">
          <div *ngIf="newPassword?.errors">
            Password not strong enough (*min 8 characters)
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Confirm password</label>
        <p class="control">
          <input class="input" type="password" formControlName="passwordConfirmation" autocomplete="off">
        </p>
        <div *ngIf="passwordConfirmation?.dirty || passwordConfirmation?.touched" class="help is-danger">
          <div *ngIf="passwordConfirmation?.errors?.['required']">
            Please confirm your password
          </div>
          <div *ngIf="changePasswordForm.errors?.['mismatch'] && !passwordConfirmation?.errors?.['required']">
            Passwords do not match
          </div>
        </div>
      </div>
      <button class="button mt-4" (click)="changePassword()" [disabled]="changePasswordForm.invalid">
        <span>Change password</span>
      </button>
    </form>
  </div>
</div>