<p class="title is-family-secondary">Password</p>
<div class="columns">
  <form class="form-container" [formGroup]="changePasswordForm" autocomplete="false">
    <div class="column mr-5">
      <div class="field">
        <label class="label">Current password</label>
        <p class="control">
          <input class="input" type="password" formControlName ="currentPassword">
        </p>
      </div>
      <div class="field">
        <label class="label">New password</label>
        <p class="control">
          <input class="input" type="password" formControlName ="newPassword">
        </p>
      </div>
      <div class="field">
        <label class="label">Confirm password</label>
        <p class="control">
          <input class="input" type="password" formControlName ="passwordConfirmation">
        </p>
        <div *ngIf="passwordConfirmation?.dirty || passwordConfirmation?.touched"class="help is-danger">
          <div *ngIf="passwordConfirmation?.errors?.['required']">
              Please confirm your password
          </div>
          <div *ngIf="changePasswordForm.errors?.['mismatch'] && !passwordConfirmation?.errors?.['required']">
              Passwords do not match
          </div>
        </div>
      </div>
      <button class="button mt-4" (click)="changePassword()" [disabled]="changePasswordForm.invalid">
        <span>Change password</span>
      </button>
    </div>
  </form>
  <div class="column is-5">

  </div>
</div>