<section class="section is-custom-section">
    <p class="title is-size-1 is-family-secondary">Reset password</p>
    <p class="subtitle is-family-secondary">Enter your email to proceed</p>   
    <form class="form-container" [formGroup]="requestForm" autocomplete="false">

        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="email" placeholder="Email" formControlName ="email" required id="email">
                <span class="icon is-left">
                    <span class="iconify is-size-5" data-icon="ic:outline-email"></span>
                </span>
            </p>
            <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="help is-danger">
                <div *ngIf="email?.errors?.['required']">
                    Please enter a email address!
                </div>
                <div *ngIf="email?.errors?.['email']">
                    Please enter a valid email address
                </div>
            </div>

            
        </div>
        <button (click)="requestReset()" [disabled]="requestForm.invalid" class="button is-success is-medium is-fullwidth">
            Continue<span class="iconify is-size-5 ml-2" data-icon="fluent:arrow-right-12-filled"></span>
        </button>
    </form>

    <p class="mt-5 has-text-centered has-text-grey">
        Remember your password? <a href="/login" class="has-text-weight-bold">Log in</a>
    </p>
</section>