<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Password Reset Request </p>
        <button class="delete" aria-label="close" (click)="closeModal()" type="button"></button>
      </header>
      <section class="modal-card-body">
        <h3> We will send you an email with a link to reset your password</h3>
        <p> Please input email of your account </p>
        <form class="form-container" (ngSubmit)="submitRequest()" [formGroup]="emailForm" novalidate autocomplete="false">
            <div class="field">
              <div class="control has-icons-left">
                <input matInput type="email" class="input is-rounded" formControlName ="email" placeholder="example@gmail.com" required>
                <span class="icon is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
              <p *ngIf="emailForm.get('email')?.hasError('email') && emailForm.get('email')?.touched" class="help is-danger">
                Please enter a valid email address
              </p>
              <p *ngIf="emailForm.get('email')?.hasError('required') && emailForm.get('email')?.touched" class="help is-danger">
                Please enter a email address!
              </p>
            </div>
        </form>
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit" (click)="submitRequest()">Send request</button>
        <button class="button" (click)="closeModal()" type="button">Cancel</button>
      </footer>
    </div>
</div>