<section class="section is-custom-section">
    <p class="title is-size-1 is-family-secondary">Reset password</p>
    <p class="subtitle is-family-secondary">Enter the new password</p>
    <form class="form-container" [formGroup]="resetPasswordForm" autocomplete="false">
      <div class="field">
        <label class="label">New password</label>
        <p class="control">
          <input class="input" type="password" formControlName ="password">
        </p>
        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="help is-danger">
          <div *ngIf="password?.errors?.['required']">
              Please enter your password
          </div>
          <div *ngIf="password?.errors?.['minlength']">
              Password must be longer than 8 characters.
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Confirm password</label>
        <p class="control">
          <input class="input" type="password" formControlName ="passwordConfirmation">
        </p>
        <div *ngIf="passwordConfirmation?.dirty || passwordConfirmation?.touched"class="help is-danger">
          <div *ngIf="passwordConfirmation?.errors?.['required']">
              Please confirm your password
          </div>
          <div *ngIf="resetPasswordForm.errors?.['mismatch'] && !passwordConfirmation?.errors?.['required']">
              Passwords do not match
          </div>
        </div>
      </div>
      <button (click)="resetPassword()" [disabled]="resetPasswordForm.invalid" class="button is-success is-medium is-fullwidth">
        Change password
      </button>
    </form>
    <p class="mt-5 has-text-grey">
      Remember the password? <a href="/login" class="has-text-weight-bold">Log in</a>
    </p>
</section>